* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: space-between;
}

.grid-holder {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vh;
  cursor: crosshair;
  margin-right: 5px;
}

.button-box {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin: 8px;
  flex-direction: column;
}

.color-randomizer {
  max-width: 120px;
  height: 40px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  margin-left: 120px;
  cursor: pointer;
}

.is-active {
  background: rgb(249,5,5);
  background: linear-gradient(90deg, rgba(249,5,5,1) 5%, rgba(255,94,0,1) 17%, rgba(255,230,0,1) 31%, rgba(44,255,0,1) 46%, rgba(0,14,255,1) 63%, rgba(179,0,255,1) 80%, rgba(255,0,172,1) 100%);
  font-weight: 900;
}

.set-grid {
  background-color: rgb(0, 47, 255);
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  flex: 1;
  max-height: 40px;
  max-width: 120px;
  font-weight: 700;
  border-radius: 8px;
  margin-left: 120px;
}

.space-taker {
  flex: 1;
}